In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
df=sns.load_dataset('iris')

In [4]:
print('First 5 rows of the dataset: ')
print(df.head())

First 5 rows of the dataset:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
print('Information about dataset: ')
print(df.info())

Information about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [6]:
print('Describing the dataset: ')
print(df.describe())

Describing the dataset:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
print('checking for null values: ')
print(df.isnull().sum())

checking for null values:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
print('Shape of the dataset: ')
print('Number of rows in the dataset: ',df.shape[0])
print('Number of columns in the dataset: ',df.shape[1])

Shape of the dataset:
Number of rows in the dataset:  150
Number of columns in the dataset:  5

In [9]:
le=LabelEncoder()
df['species_encoded']=le.fit_transform(df['species'])

In [11]:
scaler=StandardScaler()
numerical_features=['sepal_length','sepal_width','petal_length','petal_width']
df_normalized=pd.DataFrame(scaler.fit_transform(df[numerical_features]),columns=numerical_features)
df_normalized['species_encoded']=df['species_encoded']

In [12]:
print('first 5 rows of normalized data: ')
print(df_normalized.head())

first 5 rows of normalized data:
   sepal_length  sepal_width  petal_length  petal_width  species_encoded
0     -0.900681     1.019004     -1.340227    -1.315444                0
1     -1.143017    -0.131979     -1.340227    -1.315444                0
2     -1.385353     0.328414     -1.397064    -1.315444                0
3     -1.506521     0.098217     -1.283389    -1.315444                0
4     -1.021849     1.249201     -1.340227    -1.315444                0

In [13]:
print('mapping of encoded values: ')
for i,species in enumerate(le.classes_):
    print(f"{species}:{i}")

mapping of encoded values:
setosa:0
versicolor:1
virginica:2